table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

thead {
  background-color: brown;
}

th {
  padding: 10px 0;
  color: white;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

td {
  padding: 5px 0;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

td:hover {
  background-color: lightgreen;
  cursor: pointer;
}

tbody tr:hover {
  background-color: lightblue;
  cursor: pointer;
}

h1 {
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  border: 2px solid black;
  margin: 20px auto;
}

h1:hover {
  background-color: lightgreen;
  cursor: pointer;
}
